<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
      <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <h1 class="title-font font-medium text-3xl text-gray-900">Read the contract details of automobile leasing on this nice page.</h1>
        <p class="leading-relaxed mt-4">This page lets you access and verify the details of your in-force lease agreements. We, as a corporate firm, thank you for making us your privileged companion.</p>
      </div>
      <app-lease-contract-form (contractDTOEvent)="save($event)"></app-lease-contract-form>
    </div>
  </section>