<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Leasing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a [routerLinkActive]="'active'" class="nav-link active"  [routerLink]="['home']" aria-current="page">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a  routerLinkActive="active" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Manage
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a [routerLinkActive]="'active'" class="dropdown-item" [routerLink]="['customers']">Customers</a></li>
            <li><a [routerLinkActive]="'active'" class="dropdown-item" [routerLink]="['vehicles']">Vehicles</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <li><a [routerLinkActive]="'active'" class="dropdown-item" [routerLink]="['lcontracts']">Leasing Contracts</a></li>
          </ul>
        </li>
       
              </ul>
              <div class="d-flex justify-content-end">
                <a class="nav-link fw-bold text-reset" aria-current="page" href="#">Allane</a>
      
              </div>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>