<form
  class="lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-0 sm:space-y-2 space-y-4 sm:px-0 items-end">
  <div class="relative flex-grow w-full">
    <label for="vin" class="leading-7 text-sm text-gray-600">Vehicle Identification Number</label>
    <input name="vin" type="text" id="vin" placeholder="DE234VIN2323" [(ngModel)]="vehicleDTO.vin" aria-describedby="vinHelp"
      class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
  </div>
  <div class="relative flex-grow w-full">
    <label for="brand" class="leading-7 text-sm text-gray-600">Brand (Manufacturer)</label>
    <input name="brand" type="text" id="brand" placeholder="MVV" [(ngModel)]="vehicleDTO.brand" aria-describedby="brandHelp"
      class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
  </div>
  <div class="relative flex-grow w-full">
    <label for="model" class="leading-7 text-sm text-gray-600">Model (Vehicle Design Name)</label>
    <input name="model" type="text" id="model" placeholder="Autobus" [(ngModel)]="vehicleDTO.model" aria-describedby="modelHelp"
      class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
  </div>
  <div class="relative flex-grow w-full">
    <label for="makeYear" class="leading-7 text-sm text-gray-600">Make Year (Manufacture Year)</label>
    <input name="makeYear" type="text" id="makeYear" placeholder="1790" [(ngModel)]="vehicleDTO.makeYear" aria-describedby="makeYearHelp"
      class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
  </div>
  <div class="relative flex-grow w-full">
    <label for="price" class="leading-7 text-sm text-gray-600">Price</label>
    <input name="price" type="number" id="price" placeholder="1880" [(ngModel)]="vehicleDTO.price" aria-describedby="priceHelp"
      class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
  </div>
  <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-3 justify-items-center-safe">
  <button type="button"
    class="text-white bg-gray-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
    (click)="clear()">Cancel</button>
  <button type="submit"
    class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
    (click)="save()">{{saveEditLabel}}</button></div>
</form>