<footer class="footer py-0 bg-light position-relative fixed-bottom ">
  <div class="container-fluid mt-2 pt-2">
    <div class="row">
        <div class="col-md-4 col-12 mx-0 px-auto border-end d-flex justify-content-center">
            <a class="text-decoration-none" href="https://github.com/rishiraj88?tab=repositories" target="_new"><p id="about">About Me <i class="fa fa-user"></i></p></a>
        </div>
        <div class="col-md-4 col-12 mx-0 px-auto border-end d-flex justify-content-center">
            <a class="text-decoration-none" href="tel:+49-1575-328-4088" target="_new"><p id="about">Phone <i class="fa fa-phone"></i></p></a>
        </div>
        <div class="col-md-4 col-12 mx-0 px-auto d-flex justify-content-center">
            <a class="text-decoration-none" href="https://www.linkedin.com/in/rishirajopenminds/" target="_new"><p>Social <i class="fa fa-network-wired"></i></p></a>
        </div>
    </div>
</div>
</footer>
