* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
}
.bg-all {
  background-color: #eeeeee;
}
@media (max-width: @screen-xs) {
  body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
  body{font-size: 14px;}
}
