<section class="text-gray-600 body-font  bg-gradient-to-b from-gray-50 to-gray-200">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">View, verify and update your own
        details with this easy-to-use form.</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Your relation with us is always priceless. Now you are on
        your own page to udpate and verify your personal data.</p>
      <br>
      <p class="lg:w-2/3 mx-auto font-medium underline leading-relaxed text-lg">Please use the form below to add or edit
        customer details</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Entered name will be used to search for customer record and
        the date of birth in the record will be updated.</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">If no record is found by customer name, then date of birth
        will be used to search for record and the name in the record will be updated.</p>
    </div>
    <app-customer-form/>
  </div>
</section>