<div class="container shadow min-vh-80 py-2">
  <p><span class="badge bg-primary">Vehicle Details</span></p>
  <form class="row g-2">
    <div class="mb-3 row">
      <label for="brand" class="col-sm-2 col-form-label">Brand</label>
      <div class="col-sm-10">
        <select class="form-control form-control-sm form-select" name="brand" aria-label="brand" [(ngModel)]="brand">
          <optgroup label="Select vehicle brand">
            <option value="BMW">BMW</option>
            <option value="Audi">Audi</option>
            <option value="Tesla">Tesla</option>
          </optgroup>
        </select>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="model" class="col-sm-2 col-form-label">Model</label>
      <div class="col-sm-10">
        <select class="form-control form-control-sm form-select" name="model" aria-label="model" [(ngModel)]="model">
          <optgroup label="Select vehicle model">
            <option value="X3">X3</option>
            <option value="2022">2022</option>
            <option value="X1">X1</option>
          </optgroup>
        </select>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="year" class="col-sm-2 form-label">Year</label>
      <div class="col-sm-10">
        <input type="number" class="form-control form-control-sm" name="year" aria-describedby="year"
          [(ngModel)]="year">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="vin" class="col-sm-2 form-label">VIN</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" name="vin" aria-describedby="vin" [(ngModel)]="vin">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="price" class="col-sm-2 form-label">Price</label>
      <div class="col-sm-9" style="max-width:85%;">
        <input type="number" class="form-control form-control-sm" name="price" aria-describedby="price"
          [(ngModel)]="price">
      </div><span class="text-end" style="width:1%;">€</span>

      </div>

      <div class="col-auto">
        <button type="button" class="btn btn-outline-success" (click)="clear()">Cancel</button>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary" (click)="save()">{{saveEditLabel}}</button>
      </div>
  </form>
</div>