<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">We make mobility easy on every route of life.</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">We are the RRLane Mobility Group. Our vision is to become Europe's first-stop, last-mile provider of mobility solutions and related support group.</p>
    </div>
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
      <div class="sm:w-3/4 mb-10 px-4 mx-auto">
        <div class="rounded-lg h-74 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="customer-view.png">
        </div>
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Customer Page</h2>
        <p class="leading-relaxed text-base">Your relation with us is always priceless. Visit your own page to udpate and verify your personal data.</p>
        <a><button class="flex mx-auto mt-6 text-white bg-green-500 border-0 py-2 px-5 focus:outline-none hover:bg-green-600 rounded">Customer View</button></a>
      </div>
      <div class="sm:w-3/4 mb-10 px-4 mx-auto">
        <div class="rounded-lg h-74 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="vehicle-view.png">
        </div>
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Vehilcle Registration</h2>
        <p class="leading-relaxed text-base">Now you can easily add and modify the vital information about your vehicles. This enables us to deliver higher quality of service to you.</p>
        <a></a><button class="flex mx-auto mt-6 text-white bg-green-500 border-0 py-2 px-5 focus:outline-none hover:bg-green-600 rounded">Vehicle View</button></a>
      </div>
      <div class="sm:w-3/4 mb-10 px-4 mx-auto">
        <div class="rounded-lg h-74 overflow-hidden">
          <img alt="content" class="object-cover object-center w-full h-full" src="contract-view.png">
        </div>
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Insurance Policies</h2>
        <p class="leading-relaxed text-base">This page lets you read and download the PDF documents of your insurance policies you have entrusted to us. We thank you for being your privileged companions.</p>
      <a><button class="flex mx-auto mt-6 text-white bg-green-500 border-0 py-2 px-5 focus:outline-none hover:bg-green-600 rounded">Policy View</button></a>
      </div>
    </div>
  </div>
</section>