<div class="container shadow min-vh-80 py-2"> <!-- min-vh-100 -->
  <p><span class="badge bg-dark">Customer</span></p>
  <form class="row g-2">
    <div class="mb-3 row">
      <label for="customerFname" class="col-sm-2 form-label">First Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" name="customerFname" placeholder="Alex" [(ngModel)]="firstName" aria-describedby="fnameHelp">
      </div>
      <!-- <div id="fnameHelp" class="form-text">Customer's first name to show in leasing contract</div> -->
    </div>
    <div class="mb-3 row">
      <label for="customerLname" class="col-sm-2 form-label">Last Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" name="customerLname" placeholder="Doe"
          [(ngModel)]="lastName" aria-describedby="lnameHelp">
      </div>
      <!-- <div id="lnameHelp" class="form-text">Customer's last name to show in leasing contract</div> -->
    </div>
    <div class="mb-3 row">
      <label for="birthDate" class="col-sm-2 col-form-label">Birthdate</label>
      <div class="col-sm-6">
        <input type="date" class="form-control" name="birthDate" placeholder="01-01-2001" [(ngModel)]="birthDate">
      </div>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-outline-success" (click)="clear()">Cancel</button>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-warning" (click)="save()">Quick Edit</button>
    </div>
  </form>
</div>