<div class="container shadow min-vh-80 py-2"> <!-- min-vh-100 -->
  <p><span class="badge bg-dark">Customer</span></p><br>
  <p>Entered name will be used to search for customer record and the date of birth in the record will be updated.</p>
  <p>If no record is found by customer name, then date of birth will be used to search for record and the name in the record will be updated.</p>
  <form class="row g-2">
    <div class="mb-3 row">
      <label for="customerName" class="col-sm-2 form-label">Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" name="customerName" placeholder="Alex" [(ngModel)]="name" aria-describedby="nameHelp">
      </div>
      <!-- <div id="nameHelp" class="form-text">Customer's name to show in leasing contract</div> -->
    </div>
    <div class="mb-3 row">
      <label for="birthDate" class="col-sm-2 col-form-label">Date of Birth</label>
      <div class="col-sm-6">
        <input type="date" class="form-control" name="birthDate" placeholder="01-01-2001" [(ngModel)]="birthDate">
      </div>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-outline-success" (click)="clear()">Cancel</button>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" (click)="save()">{{saveEditLabel}}</button>
    </div>
  </form>
</div>