<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
        <a class="mr-5 hover:text-gray-900">Home</a>
        <a class="mr-5 hover:text-gray-900">Customer</a>
        <a class="mr-5 hover:text-gray-900">Vehicle</a>
        <a class="hover:text-gray-900">Leasing Contract</a>
      </nav>
      <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0">
        </a>
      <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
        <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">   <span class="ml-3 text-xl">RRLane</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-green-500 rounded-full" viewBox="0 0 24 24">
            <use attr.xlink:href="assets/svg/insurance-umbrella.svg"></use>
          </svg>
          <span class="ml-3 text-xl">Mobility Group</span>
        <svg attr.width="120px" attr.height="120px" attr.fill="none" >
            <use attr.xlink:href="assets/svg/insurance-umbrella.svg"></use>
          </svg>
        </button>     
      </div>
    </div>
  </header>