<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h1 class="title-font font-medium text-3xl text-gray-900">View, verify and update the details of your own lovable vehicles with this easy-to-use form.</h1>
      <p class="leading-relaxed mt-4">Now you can easily add and modify the vital information about your vehicles. This enables us to deliver higher quality of services to you... everyday.</p>
      <br>
      <p class="lg:w-2/3 mx-auto font-medium underline leading-relaxed text-lg">Please use the form here to add or edit vehicle details</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">First of all, vehicle identification number (VIN) will be used to search for the unique record of your vehicle, one in a go.</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">If no record is found with the entered VIN, then the input combination of brand, model and make year will be used for the next search.</p>
    </div>
    <app-vehicle-form (vehicleDtoEvent)="save($event)"></app-vehicle-form>

  </div>
</section>