<div class="container shadow pt-2 bg-color-gray ">
  <p class="lead mx-2 ">Contract Overview</p>
  <table id="contracts" class="table table-striped table-hover border border-light  mb-50">
    <thead>
      <tr>
        <th>Contract No</th>
        <th>Customer</th>
        <th>Vehicle</th>
        <th>VIN</th>
        <th>Monthly Rate</th>
        <th>Vehicle Price</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contract of allContracts">
        <td>{{contract.contractNumber}}</td>
        <td>{{contract.customerDto?.firstName+" "+contract.customerDto?.lastName}}</td>
        <td>{{contract.vehicleDto?.brand+" "+contract.vehicleDto?.model +" ("+contract.vehicleDto?.year+")"}}</td>
        <td>{{contract.vehicleDto?.vin}}</td>
        <td>{{contract.monthlyRate | currency:'EUR':'symbol':undefined:'de-DE' }}</td>
        <td>{{contract.vehicleDto?.price | currency: 'EUR':'symbol':undefined:'de-DE' }}</td>
        <td><i class="fa fa-link"></i></td>
      </tr>
    </tbody>
  </table>
</div>